...git*
*.cmo
*.cmi
*.swp
bcast
cpu_freq
cpu_max_freq
dev_size
distrib
file_gid
file_group
file_mode
file_uid
file_user
get_field
get_param_value
grep_first
hostname
hyperthreading
ip
kernel_version
mac
make_list
mask
match
mem_size
mount
phys_cores
pkglist
rec_list_copy
system_name
system_type
swap_size
units
virtual_cores
