...git*
*.cmo
*.cmi
*.swp
cpu_freq
cpu_max_freq
file_gid
file_group
file_mode
file_uid
file_user
get_field
get_param_value
grep_first
hyperthreading
kernel_version
mem_size
phys_cores
system_name
swap_size
virtual_cores
